.pro-bono-titulo {
    font-family: var(--ff-pt-serif);
    font-size: 5rem;
    font-weight: 700;

    padding: 3rem 0 10rem 1rem; 

    max-width: 1364px;
    margin-inline: auto;
}

.pro-bono-content-container {
    max-width: 1364px;
    padding-inline: 1rem;
    margin-inline: auto;
    padding-bottom: 9rem;

    font-size: 2.25rem;
    font-family: 'PT Serif', serif;
}

.pro-bono-content-container p {
    max-width: 42ch;
    line-height: 1.2;
    padding-left: 6rem;
}

.pro-bono-content-primeiro-container :first-child {
    padding-bottom: 3rem;
    font-style: italic;
}

.pro-bono-content figure {
    text-align: left;
    padding-bottom: 8rem;
}

.pro-bono-content figure img {
    max-width: 1200px;
    max-height: 600px;
    width: 70%;
}

@media (max-width: 600px) {
    .pro-bono-titulo {
        font-size: 3rem;
    
        padding: 0 0 5rem 1rem; 
    }

    .pro-bono-content-container,
    .pro-bono-content figure {
        padding-bottom: 3rem;
    }

    .pro-bono-content-container p {
        max-width: 100%;
        line-height: 1.2;
        font-size: 1.5rem;
        padding-left: 2rem;
    }
}

@media (max-width: 450px) {
    .pro-bono-titulo {
        font-size: 2.5rem;
        padding: 0 0 3rem 1rem; 
    }

    .pro-bono-content-container p {
        max-width: 100%;
        line-height: 1.2;
        font-size: 1.125rem;
        padding-left: 1rem;
    }
}