<app-header></app-header>
<h1 class="pro-bono-titulo">Pro Bono</h1>

<section class="pro-bono-content">
    <div class="pro-bono-content-container pro-bono-content-primeiro-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae luctus augue, quis fermentum orci. Etiam faucibus nibh nisi, a eleifend lorem sagittis a. Integer aliquam laoreet laoreet.</p>
        <p>In hac habitasse platea dictumst. Donec faucibus eros sit amet erat mollis tempus. Aliquam id sapien fringilla, posuere elit eget, rhoncus ex. Suspendisse sit amet posuere elit.</p>
    </div>
    

    <figure>
        <img src="../../../assets/images/pro-bono-img.png" alt="Foto de copacabana">
    </figure>

    <div class="pro-bono-content-container">
        <p>Aenean vel ultrices ligula. Donec facilisis magna vitae mi aliquet suscipit. Fusce mollis aliquam felis, nec tristique leo dapibus sit amet. Ut venenatis rhoncus tellus, nec lobortis purus.</p>
    </div>
</section>
<app-contato-form></app-contato-form>
<app-footer></app-footer>