<div class="bg-home">
    <app-header></app-header>
    <div class="home-cta">
        <div class="home-cta__texto">
            <h1>Prestação de <strong>serviços jurídicos</strong> de maneira inovadora com comunicação, transparência e soluções criativas</h1>
        </div>
        <div class="home-cta__botoes">
            <app-botao-cta label="ENTRE EM CONTATO" router="/contato"></app-botao-cta>
            <app-botao-cta label="ÁREAS DE ATUAÇÃO" router="/atuacao"></app-botao-cta>
        </div>
    </div>
</div>
<section class="slider">
    <div class="slider-container">
        <app-image-slider [slides]="slides"></app-image-slider>
    </div>
</section>

<section class="blog">
    <h2>Últimas Postagens</h2>
    <div class="blog-container">
        <app-blog-card img="blog-direito-empresarial" data="12 DE FEVEREIRO, 2020" titulo="5 coisas que você precisa saber sobre direito empresarial"></app-blog-card>
        <app-blog-card img="blog-esports" data="20 DE FEVEREIRO, 2020" titulo="eSports: conheça os aspectos jurídicos sobre os esportes..."></app-blog-card>
        <app-blog-card img="blog-direito-tributario" data="08 DE FEVEREIRO, 2020" titulo="Entenda a função do direito tributário na sua prática"></app-blog-card>
    </div>
</section>

<section class="home-contato">
    <div class="home-contato-container">
        <app-contato-form></app-contato-form>
        <div class="home-contato__img">
        </div>
    </div>
</section>

<app-footer></app-footer>