.bg-home {
    background-image: url("../../../assets/images/bg_2.png");
    background-size: cover;
    min-height: 100vh;
    width: 100%;
}

.home-cta {
    display: flex;
    max-width: 1364px;
    padding: 7rem 1rem;
    flex-direction: column;

    margin-inline: auto;
}

@media (max-width: 500px) {
    .bg-home {
        min-height: fit-content;
        padding-bottom: 5rem;
    }

    .home-cta {
        padding: 1rem 1rem;

    }
}

.home-cta__texto {
    padding-bottom: 6rem;
    max-width: 140ch;
}

.home-cta__texto h1 {
    font-family: 'PT Serif', serif;
    font-size: clamp(2.5vw, 4rem, 6vw);
    letter-spacing: 0.05em;
    line-height: 1.4;
}

.home-cta__texto strong {
    font-weight: 700;
}

.home-cta__botoes {
    display: flex;
    gap: 1rem;
}

@media (max-width: 500px) {
    .home-cta__botoes {
        flex-direction: column;
    }
}

/* -- slider -- */
.slider {
    background-color: #FAFAFA;
    padding: 7rem 0;
}

@media (max-width: 500px) {
    .slider {
        background-color: #FAFAFA;
        padding: 3rem 0;
    }
}

.slider-container {
    max-width: 960px; 
    height: fit-content;
    margin: 0 auto;
    padding-inline: 1rem;
}

/* -- blog -- */
.blog {
    max-width: 1364px;
    padding: 6rem 1rem 9rem 1rem;
    margin-inline: auto;
}

.blog h2 {
    font-weight: 700;
    font-size: 3.25rem;
    font-family: 'PT Serif', serif;

    padding-bottom: 7rem;
}

.blog-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    width: 100%;
    gap: 3rem;
}

@media (max-width: 600px) {
    .blog {
        padding: 3rem 1rem 5rem 1rem;
    }
    
    .blog h2 {
        font-size: 2.25rem;
        padding-bottom: 3rem;
    }
    
    .blog-container {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        width: 100%;
        gap: 3rem;
    }
}

/* -- contato home -- */
.home-contato-container {
    display: grid;
    grid-template-columns: 50% 50%;
}

.home-contato__img {
    background: url(../../../assets/images/home-man-notes.png);
    background-size: auto 130%;
    background-position: 50% 40%;
}

@media (max-width: 1200px) {
    .home-contato__img {
        display: none;
    }

    .home-contato-container {
        display: grid;
        grid-template-columns: 100%;
    }
}
