<div class="bg-home">
    <app-header></app-header>
    <div class="home-cta">
        <div class="home-cta__texto">
            <h1>Prestação de <strong>serviços jurídicos</strong> de maneira inovadora com comunicação, transparência e soluções criativas</h1>
        </div>
        <div class="home-cta__botoes">
            <app-botao-cta label="ENTRE EM CONTATO" router="/contato"></app-botao-cta>
            <app-botao-cta label="ÁREAS DE ATUAÇÃO" router="/atuacao"></app-botao-cta>
        </div>
    </div>
</div>
<section class="slider">
    <div class="slider-container">
        <app-image-slider [slides]="slides"></app-image-slider>
    </div>
</section>

<app-footer></app-footer>