.blog-card-container {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    cursor: pointer;
    overflow: hidden;
    max-width: 414px;
}

.blog-card__image {
    max-height: 220px;
    object-fit: cover;
    opacity: 0.45;
    border-radius: 5px;
    box-sizing: border-box;

    transition: opacity 0.4s ease-in;
}

.blog-card-container:hover  .blog-card__image {
    opacity: 1;
}

.blog-card__data {
    font-size: 0.75rem;
    letter-spacing: 0.06em;

    margin-top: 1.5rem;
}

.blog-card__titulo {
    font-family: 'PT Serif', serif;
    font-weight: 700;
    font-size: 1.75rem;
    line-height: 1.5;
}

.blog-card__paragrafo {
    font-family: 'PT Serif', serif;
    font-size: 1rem;
    line-height: 1.3;
    padding-bottom: 1.5rem;
}

.blog-card__anchor {
    display: flex;
    align-items: center;
    gap: 0.5rem;

    text-decoration: none;
    font-weight: 700;
}

@media (max-width: 470px) {
    .blog-card-container {
        max-width: 100%;
    }

    .blog-card__image {
        max-height: 145px;
    }

    .blog-card__titulo {
        font-size: 1.5rem;
    }
    
}

@media (max-width: 320px) {
    .blog-card__image {
        max-height: 100px;
    }

    .blog-card__titulo {
        font-size: 1.25rem;
    }
    
    .blog-card__paragrafo {
        font-size: 0.875rem;
    }
}