<header>
    <div class="header">
        <nav class="header-nav">
            <p class="header-logo" routerLink="/home">Daniel Marinho</p>
            <ul class="header-nav__list">
                <li class="header-nav__item" routerLinkActive="activelink" routerLink="/sobre">Sobre</li>
                <li class="header-nav__item" routerLinkActive="activelink" routerLink="/atuacao">Atuação</li>
                <li class="header-nav__item" routerLinkActive="activelink" routerLink="/pro-bono">Pro bono</li>
                <li class="header-nav__item" routerLinkActive="activelink" routerLink="/blog">Blog</li>
                <li class="header-nav__item" routerLinkActive="activelink" routerLink="/contato">Contato</li>
            </ul> 
        </nav>
    </div>
</header>