header {
    display: flex;
    justify-content: center;
}

.header {
    max-width: 1364px;
    width: 100%;
    padding: 6.5rem 1rem;
}

.header-logo {
    cursor: pointer;

    font-family: 'Open Sans', sans-serif;
    color: black;
    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;
}

.header-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-nav__list {
    display: flex;
    gap: 2.5rem;
}

.header-nav__item {
    cursor: pointer;
    white-space: nowrap;
    
    font-family: 'Open Sans', sans-serif;
    color: #2F2F2F;
    font-size: 1rem;
    font-weight: 700;
    line-height: 1.6;
    text-transform: uppercase;
    letter-spacing: 0.05em;
}

.activelink {
    border-bottom: 2px solid black;
    margin-bottom: -2px;
}

.underline-effect {
    display: inline-block;
    position: relative;
}
  
.underline-effect:after {
    content: '';
    width: 0px;
    height: 2px;
    display: block;
    background: #AAAAAA;
    transition: width 300ms;

    position: absolute;
    left: 0;
    bottom: -2px;
}
  
.underline-effect:hover:after {
    width: 100%;
}