<header>
    <div class="header">
        <nav class="header-nav">
            <p class="header-logo">Daniel Marinho</p>
            <ul class="header-nav__list">
                <li class="header-nav__item">Sobre</li>
                <li class="header-nav__item">Atuação</li>
                <li class="header-nav__item">Pro bono</li>
                <li class="header-nav__item">Blog</li>
                <li class="header-nav__item">Contato</li>
            </ul>
        </nav>
    </div>
</header>