<header>
    <div class="header">
        <nav class="header-nav">
            <a class="header-logo" routerLink="/home"><img src="../../../assets/images/logo-header.svg" alt=""></a>
            <span class="burger" (click)="toggleMenu()">
                <mat-icon aria-hidden="true">{{ isMenuOpen ? "close" : "menu"}}</mat-icon>
            </span>
            <ul class="header-nav__list" [class.is-open]="isMenuOpen">
                <li class="header-nav__item underline-effect" routerLinkActive="activelink" routerLink="/sobre">Sobre</li>
                <li class="header-nav__item underline-effect" routerLinkActive="activelink" routerLink="/atuacao">Atuação</li>
                <li class="header-nav__item underline-effect" routerLinkActive="activelink" routerLink="/pro-bono">Pro bono</li>
                <li class="header-nav__item underline-effect" routerLinkActive="activelink" routerLink="/blog">Blog</li>
                <li class="header-nav__item underline-effect" routerLinkActive="activelink" routerLink="/contato">Contato</li>
            </ul> 
        </nav>
    </div>
</header>