<app-header></app-header>
<section class="about-info">
    <div class="about-info-container">
        <div class="about-img-container">
            <img class="about-img" src="../../../assets/images/image-breno.png" alt="" srcset="">
        </div>
        <div class="about-detalhes-container">
            <h2 class="about-detalhes-titulo">Breno G. I. Firmino</h2>
            <span class="about-detalhes-oab">OAB/SP 001.001</span>
            <span class="about-detalhes-tel">(11) 99999-0000</span>
            <span class="about-detalhes-email">contato@brenofirmino.com</span>

            <span>vCard</span>
            <span>Linkedin</span>
        </div>
    </div>
</section>
<section class="about-content">
    <div class="about-content-container about-content-primeiro-container">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae luctus augue, quis fermentum orci. Etiam faucibus nibh nisi, a eleifend lorem sagittis a. Integer aliquam laoreet laoreet. Sed sodales tortor ac neque facilisis, pharetra posuere arcu imperdiet. Morbi venenatis urna ac diam hendrerit vulputate.</p>
        <p>In hac habitasse platea dictumst. Donec faucibus eros sit amet erat mollis tempus. Aliquam id sapien fringilla, posuere elit eget, rhoncus ex. Suspendisse sit amet posuere elit. Fusce arcu ipsum, iaculis at lorem vel, sollicitudin blandit lorem. Aenean eu lectus eget turpis dapibus tristique vel fermentum sem. Nulla scelerisque varius lacus vel viverra. Aenean vel ultrices ligula. Donec facilisis magna vitae mi aliquet suscipit. Fusce mollis aliquam felis, nec tristique leo dapibus sit amet. Ut venenatis rhoncus tellus, nec lobortis purus.</p>
    </div>
    

    <figure>
        <img src="../../../assets/images/about-img.png" alt="Foto de copacabana">
    </figure>

    <div class="about-content-container">
        <p>Aenean eu lectus eget turpis dapibus tristique vel fermentum sem. Nulla scelerisque varius lacus vel viverra. Aenean vel ultrices ligula. Donec facilisis magna vitae mi aliquet suscipit. Fusce mollis aliquam felis, nec tristique leo dapibus sit amet. Ut venenatis rhoncus tellus, nec lobortis purus.</p>
    </div>
    
</section>
<app-contato-form></app-contato-form>
<app-footer></app-footer>