<div class="form-container">
    <div *ngIf="versaoEspecial == false">
        <h2>Contato</h2>
    </div>
    <div *ngIf="versaoEspecial == true">
        <h2 class="form-h1__alternativo">Contato</h2>
        <div class="form-info__alternativo">
            <span>(11) 99999-0000</span>
            <span>contato@brenofirmino.com</span>
        </div>
    </div>
    
    <form class="form-contato">
        <div class="form-field-holder">
            <input type="text" id="nome" required>
            <label for="nome">Nome (Obrigatório)</label>
        </div>

        <div class="form-field-holder">
            <input type="text" id="email" required>
            <label for="email">Email (Obrigatório)</label>
        </div>

        <div class="form-field-holder">
            <input type="text" id="telefone" required>
            <label for="telefone">Telefone</label>
        </div>

        <div class="form-field-holder">
            <input type="text" id="mensagem" required>
            <label for="mensagem">Mensagem (Obrigatório)</label>
        </div>

        <div class="form-submit-container">
            <input type="submit" value="ENVIAR" class="form-btn-submit">
            <mat-icon aria-hidden="true">arrow_right_alt</mat-icon>
        </div>
    </form>
</div>