<app-header></app-header>
<h1 class="atuacao-titulo">Áreas de Atuação</h1>
<section class="direito-tributario">
    <h3>Direito Tributário</h3>
    <div class="atuacao-conteiner-direita">
        <div class="atuacao-direita__texto">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae luctus augue, quis fermentum orci. Etiam faucibus nibh nisi, a eleifend lorem sagittis a. Integer aliquam laoreet laoreet.</p>
            <p>In hac habitasse platea dictumst. Donec faucibus eros sit amet erat mollis tempus. Aliquam id sapien fringilla, posuere elit eget, rhoncus ex. Suspendisse sit amet posuere elit.</p>
        </div>
    </div>

    <figure>
        <img src="../../../assets/images/blog-direito-tributario.png" alt="Foto de copacabana">
    </figure>

    <div class="atuacao-conteiner-direita">
        <div class="atuacao-direita__cta">
            <app-botao-cta label="ENTRE EM CONTATO" router="/contato"></app-botao-cta>
        </div>
        <div class="atuacao-direita__texto">
            <p>Aenean vel ultrices ligula. Donec facilisis magna vitae mi aliquet suscipit. Fusce mollis aliquam felis, nec tristique leo dapibus sit amet. Ut venenatis rhoncus tellus, nec lobortis purus.</p>
        </div>
    </div>
</section>

<section class="direito-empresarial">
    <h3>Direito Empresarial</h3>
    <div class="atuacao-conteiner-esquerda">
        <div class="atuacao-esquerda__texto">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae luctus augue, quis fermentum orci. Etiam faucibus nibh nisi, a eleifend lorem sagittis a. Integer aliquam laoreet laoreet.</p>
            <p>In hac habitasse platea dictumst. Donec faucibus eros sit amet erat mollis tempus. Aliquam id sapien fringilla, posuere elit eget, rhoncus ex. Suspendisse sit amet posuere elit.</p>
        </div>
    </div>

    <figure>
        <img src="../../../assets/images/blog-direito-empresarial.png" alt="Foto de um aperto de mão">
    </figure>

    <div class="atuacao-conteiner-esquerda">
        <div class="atuacao-esquerda__cta">
            <app-botao-cta label="ENTRE EM CONTATO" router="/contato"></app-botao-cta>
        </div>
        <div class="atuacao-esquerda__texto">
            <p>Aenean vel ultrices ligula. Donec facilisis magna vitae mi aliquet suscipit. Fusce mollis aliquam felis, nec tristique leo dapibus sit amet. Ut venenatis rhoncus tellus, nec lobortis purus.</p>
        </div>
    </div>
</section>

<section class="direito-civil">
    <h3>Direito Civil</h3>
    <div class="atuacao-conteiner-direita">
        <div class="atuacao-direita__texto">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae luctus augue, quis fermentum orci. Etiam faucibus nibh nisi, a eleifend lorem sagittis a. Integer aliquam laoreet laoreet.</p>
            <p>In hac habitasse platea dictumst. Donec faucibus eros sit amet erat mollis tempus. Aliquam id sapien fringilla, posuere elit eget, rhoncus ex. Suspendisse sit amet posuere elit.</p>
        </div>
    </div>

    <figure>
        <img src="../../../assets/images/blog-direito-civil.png" alt="Foto de um aperto de mão">
    </figure>

    <div class="atuacao-conteiner-direita">
        <div class="atuacao-direita__cta">
            <app-botao-cta label="ENTRE EM CONTATO" router="/contato"></app-botao-cta>
        </div>
        <div class="atuacao-direita__texto">
            <p>Aenean vel ultrices ligula. Donec facilisis magna vitae mi aliquet suscipit. Fusce mollis aliquam felis, nec tristique leo dapibus sit amet. Ut venenatis rhoncus tellus, nec lobortis purus.</p>
        </div>
    </div>
</section>

<section class="direito-administrativo">
    <h3>Direito Administrativo</h3>
    <div class="atuacao-conteiner-esquerda">
        <div class="atuacao-esquerda__texto">
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nulla vitae luctus augue, quis fermentum orci. Etiam faucibus nibh nisi, a eleifend lorem sagittis a. Integer aliquam laoreet laoreet.</p>
            <p>In hac habitasse platea dictumst. Donec faucibus eros sit amet erat mollis tempus. Aliquam id sapien fringilla, posuere elit eget, rhoncus ex. Suspendisse sit amet posuere elit.</p>
        </div>
    </div>

    <figure>
        <img src="../../../assets/images/blog-direito-administrativo.png" alt="Foto de um aperto de mão">
    </figure>

    <div class="atuacao-conteiner-esquerda">
        <div class="atuacao-esquerda__cta">
            <app-botao-cta label="ENTRE EM CONTATO" router="/contato"></app-botao-cta>
        </div>
        <div class="atuacao-esquerda__texto">
            <p>Aenean vel ultrices ligula. Donec facilisis magna vitae mi aliquet suscipit. Fusce mollis aliquam felis, nec tristique leo dapibus sit amet. Ut venenatis rhoncus tellus, nec lobortis purus.</p>
        </div>
    </div>
</section>
<app-contato-form></app-contato-form>
<app-footer></app-footer>