<footer>
    <div class="footer">
        <div class="footer-wrapper">
            <div class="footer-logo">Daniel<br>Marinho</div>
            <div>
                <ul class="footer-nav__list">
                    <li class="footer-nav__item" routerLinkActive="activelink" routerLink="/sobre">Sobre</li>
                    <li class="footer-nav__item" routerLinkActive="activelink" routerLink="/atuacao">Atuação</li>
                    <li class="footer-nav__item" routerLinkActive="activelink" routerLink="/pro-bono">Pro bono</li>
                    <li class="footer-nav__item" routerLinkActive="activelink" routerLink="/blog">Blog</li>
                    <li class="footer-nav__item" routerLinkActive="activelink" routerLink="/contato">Contato</li>
                </ul>
            </div>
            <div>
                <ul class="footer-info__list">
                    <li><strong>Tel</strong> +5522 3333-3333</li>
                    <li><strong>Cel</strong> +5521 99999-9999</li>
                    <li class="footer-minusculo"><strong>EMAIL</strong> contato@danielmarinho.co</li>
                </ul>
            </div>
            <div>
                <ul class="footer-social__list">
                    <li>Linkedin</li>
                    <li>Instagram</li>
                </ul>
            </div>
            <div class="footer-grid__vcard"><span>V-Card</span></div>
            <div class="footer-grid__creditos">
                <span class="footer-minusculo">Design por <strong><a href="https://romulogobira.com/work" target="_blank">gobirasaito</a></strong>.</span>
                <span class="footer-minusculo">Código por <strong><a href="https://github.com/RafaelLimaC" target="_blank">Rafael Lima</a></strong>.</span>
            </div>
        </div>
    </div>
</footer>