<footer>
    <div class="footer">
        <div class="footer-wrapper">
            <div>Daniel<br>Marinho</div>
            <div>
                <ul>
                    <li class="footer-nav__item underline-effect" routerLinkActive="activelink" routerLink="/sobre">Sobre</li>
                    <li class="footer-nav__item underline-effect" routerLinkActive="activelink" routerLink="/atuacao">Atuação</li>
                    <li class="footer-nav__item underline-effect" routerLinkActive="activelink" routerLink="/pro-bono">Pro bono</li>
                    <li class="footer-nav__item underline-effect" routerLinkActive="activelink" routerLink="/blog">Blog</li>
                    <li class="footer-nav__item underline-effect" routerLinkActive="activelink" routerLink="/contato">Contato</li>
                </ul>
            </div>
            <div>
                <ul>
                    <li>Tel +5522 3333-3333</li>
                    <li>Cel +5521 99999-9999</li>
                    <li>Email contato@danielmarinho.co</li>
                </ul>
                <span>V-Card</span>
            </div>
            <div>
                <ul>
                    <li>Linkedin</li>
                    <li>Instagram</li>
                </ul>
                <span>Design por gobirasaito<br>Código por Rafael Lima.</span>
            </div>
        </div>
    </div>
</footer>