footer {
    display: flex;
    justify-content: center;
    background-color: #3C3C3B;
}

.footer {
    max-width: 1364px;
    width: 100%;
    padding: 10rem 1rem;
}

.footer > * {
    text-transform: uppercase;
    font-family: 'Open Sans', sans-serif;
    color: #FAFAFA;
    letter-spacing: 0.05em;
}

.footer strong {
    font-weight: 700;
}

.footer-wrapper {
    display: grid;
    grid-template-columns: fit-content fit-content; 
    gap: 1rem;
    grid-template-areas: 
        "logo nav"
        "creditos social"
        "info vcard";
}

@media (min-width: 750px) and (max-width: 900px) {
    .footer-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        gap: max(5%, 1rem); 
        grid-template-columns: fit-content fit-content fit-content fit-content; 
        grid-template-areas: 
        "logo nav info social"
        ". . vcard creditos";
    }
}

@media (min-width: 901px) {
    .footer-wrapper {
        grid-template-columns: 1fr 1fr 1fr 1fr; 
        gap: max(5%, 1rem); 
        grid-template-areas: 
            "logo nav info social"
            ". . vcard creditos";
    }
}

.footer-logo {
    cursor: pointer;

    font-size: 2rem;
    font-weight: 700;
    text-transform: uppercase;

    grid-area: logo;
}

.footer-nav__list, 
.footer-info__list, 
.footer-social__list {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.footer-nav__list li,
.footer-social__list li {
    cursor: pointer;
}

.footer-grid__nav {
    grid-area: nav;
}

.footer-grid__info {
    grid-area: info;
}

.footer-grid__social {
    grid-area: social;
}

.footer-grid__vcard {
    grid-area: vcard;
    cursor: pointer;
}

.footer-grid__creditos {
    grid-area: creditos;
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
    opacity: 0.75;
}

.footer-minusculo {
    text-transform: none;
}

.footer-minusculo a {
    text-decoration: none;
    color: inherit;
}

@media (max-width: 400px) {
    .footer-email {
        display: none;
    }
}