<footer>
    <div class="footer">
        <div class="footer-wrapper">
            <div class="footer-logo">Breno<br>Firmino</div>
            <div class="footer-grid__nav">
                <ul class="footer-nav__list">
                    <li class="footer-nav__item" routerLinkActive="activelink" routerLink="/sobre">Sobre</li>
                    <li class="footer-nav__item" routerLinkActive="activelink" routerLink="/atuacao">Atuação</li>
                    <li class="footer-nav__item" routerLinkActive="activelink" routerLink="/pro-bono">Pro bono</li>
                    <li class="footer-nav__item" routerLinkActive="activelink" routerLink="/blog">Blog</li>
                    <li class="footer-nav__item" routerLinkActive="activelink" routerLink="/contato">Contato</li>
                </ul>
            </div>
            <div class="footer-grid__info">
                <ul class="footer-info__list">
                    <li><strong>Tel</strong> +55 11 3333-3333</li>
                    <li><strong>Cel</strong> +55 11 99999-0000</li>
                    <li class="footer-minusculo footer-email"><strong>EMAIL</strong> contato@brenofirmino.com</li>
                </ul>
            </div>
            <div class="footer-grid__social">
                <ul class="footer-social__list">
                    <li>Linkedin</li>
                    <li>Instagram</li>
                </ul>
            </div>
            <div class="footer-grid__vcard"><span>V-Card</span></div>
            <div class="footer-grid__creditos">
                <span class="footer-minusculo">Design por <strong><a href="https://romulogobira.com/work" target="_blank">gobirasaito</a></strong>.</span>
                <!-- <span class="footer-minusculo">Código por <strong><a href="https://github.com/RafaelLimaC" target="_blank">Rafael Lima</a></strong>.</span> -->
            </div>
        </div>
    </div>
</footer>